{% extends "app_abtest/main/abtest_base.html" %}
{% block title %} {{ abtest.design_title }} - Forum - Django Indonesia{% endblock %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load staticfiles %}
{% block content %}
{{ form.media }}

<p>{{ abtest.design_title }}</p>
<p><img src="{{ abtest.design_image_a.url }}" /></p>
<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>
{% endblock %}