{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Include All Styles-->
        {% include "app_abtest/partials/_header.html" %}
        <!--EOC-->

        <title>{% block title %}{% endblock %}</title>
    </head>

    <header>
        <!--Include Navbar-->
        {% include "app_abtest/partials/_navbar.html" %}
        <!--EOC-->
    </header>

    <body class="mu-body-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mu-content-box">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>

    <footer class="footer">
        <!--Include Footer-->
        {% include "app_abtest/partials/_footer.html" %}
        <!--EOC-->
    </footer>

</html>