.mu-navbar-wrapper {
  background-color: #FFFFFF;
  height: 80px;
  width: 100%;
}

.mu-navbar-wrapper .mu-navbar-panel {
  margin-left: 150px;
  padding: 20px 0;
}

.footer {
  padding: 0 0 10px 0;
  background-color: transparent;
  padding-top: 20px;
  text-align: center;
  background-color: #faf9f7;
}

.footer .mu-footer-wrapper {
  text-align: center;
}

.mu-pagination-wrapper {
  margin-top: 5%;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Thin.ttf) format("truetype"), url(../fonts/Lato-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: thin;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Light.ttf) format("truetype"), url(../fonts/Lato-LightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: lighter;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf) format("truetype"), url(../fonts/Lato-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Bold.ttf) format("truetype"), url(../fonts/Lato-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Black.ttf) format("truetype"), url(../fonts/Lato-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: black;
}

@font-face {
  font-family: Tiempo;
  src: url(../fonts/TiemposHeadline-Semibold.otf) format("opentype");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: Tiempo;
  src: url(../fonts/TiemposHeadline-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: Tiempo;
  src: url(../fonts/TiemposHeadline-Black.otf) format("opentype");
  font-weight: 900;
  font-style: black;
}

.mu-sidebar {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 0px;
}

.mu-sidebar .mu-sidebar-logo {
  padding: 30px 0 25px 30px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.mu-sidebar .mu-sidebar-menu-panel {
  padding-top: 50px;
}

.mu-sidebar .mu-sidebar-menu-panel a {
  padding: 15px 10px 10px 30px;
  text-decoration: none;
  font-size: 16px;
  color: #121212;
  display: block;
}

.mu-sidebar .mu-sidebar-menu-panel a:hover {
  color: #1BAA56;
  padding: 15px 10px 10px 30px;
}

.mu-sidebar .mu-sidebar-menu-panel .mu-sidebar-menu-label {
  padding: 0 0 30px 30px;
  color: #1BAA56;
  text-transform: uppercase;
  font-weight: bold;
}

.mu-sidebar .mu-sidebar-menu-panel .mu-sidebar-menu-item {
  margin: 0 0 20px 0;
}

.mu-sidebar .mu-sidebar-menu-panel .mu-sidebar-menu-item .mu-menu-text {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  color: #393f49;
  margin-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mu-sidebar .mu-sidebar-menu-panel .mu-sidebar-menu-item:hover {
  background-color: #E8FFEC;
  border-right: 5px solid #1BAA56;
}

.mu-sidebar .mu-sidebar-menu-panel .mu-sidebar-menu-item:hover span {
  color: #1BAA56;
}

@media screen and (max-height: 450px) {
  .mu-sidebar {
    padding-top: 15px;
  }
  .mu-sidebar a {
    font-size: 18px;
  }
}

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .mu-container {
    max-width: 100% !important;
    width: 100% !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-center .mamikos-logo-auth {
    width: 50% !important;
    padding-bottom: 40px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box {
    width: 100% !important;
    padding: 20px 30px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box h3 {
    font-size: 18px !important;
    padding-bottom: 25px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box .account-arrow {
    top: 24px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-icon {
    width: 30px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-heading {
    margin-bottom: 5px !important;
    font-size: 16px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-text {
    font-size: 14px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-top: 15%;
    padding: 5% !important;
  }
  .mu-thanks-wrapper .mu-thanks-container h1 {
    font-size: 35px !important;
  }
  .mu-ab-test-wrapper {
    padding: 3% !important;
  }
  .mu-hero-wrapper .mu-hero-homepage-container h1 {
    font-size: 24px !important;
  }
  .mu-hero-wrapper .mu-hero-homepage-container p {
    font-size: 18px !important;
    width: 278px !important;
    line-height: 31px !important;
  }
  .mu-hero-wrapper .footer {
    padding-top: 10px !important;
  }
  .mu-footer-wrapper p {
    font-size: 12px !important;
  }
  .mu-button {
    padding: 10px 20px !important;
    font-size: 16px !important;
  }
  .mu-ab-dashboard-wrapper .mu-dashboard-heading-wrapper .mu-feather-icon {
    margin-bottom: 30px !important;
    float: left !important;
  }
  .mu-ab-dashboard-wrapper .mu-dashboard-heading-wrapper h2 {
    font-size: 22px !important;
  }
  .mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box {
    margin: 0 !important;
  }
  .mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-title h3 {
    font-size: 22px !important;
  }
  .mu-ab-result-wrapper {
    padding: 5% !important;
  }
  .mu-ab-result-wrapper .mu-ab-result-title-wrapper .mu-ab-result-title h2 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .mu-container {
    max-width: 100% !important;
    width: 100% !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-center .mamikos-logo-auth {
    width: 50% !important;
    padding-bottom: 40px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box {
    width: 100% !important;
    padding: 20px 30px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box h3 {
    font-size: 18px !important;
    padding-bottom: 25px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box .account-arrow {
    top: 24px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-icon {
    width: 30px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-heading {
    margin-bottom: 5px !important;
    font-size: 16px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-text {
    font-size: 14px !important;
  }
  .mu-content-auth .mu-auth-wrapper .mu-auth-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-top: 15%;
    padding: 5% !important;
  }
  .mu-thanks-wrapper .mu-thanks-container h1 {
    font-size: 35px !important;
  }
  .mu-ab-test-wrapper {
    padding: 3% !important;
  }
  .mu-hero-wrapper .mu-hero-homepage-container h1 {
    font-size: 24px !important;
  }
  .mu-hero-wrapper .mu-hero-homepage-container p {
    font-size: 18px !important;
    width: 278px !important;
    line-height: 31px !important;
  }
  .mu-hero-wrapper .footer {
    padding-top: 10px !important;
  }
  .mu-footer-wrapper p {
    font-size: 12px !important;
  }
  .mu-button {
    padding: 10px 20px !important;
    font-size: 16px !important;
  }
  .mu-ab-dashboard-wrapper .mu-dashboard-heading-wrapper .mu-feather-icon {
    margin-bottom: 30px !important;
    float: left !important;
  }
  .mu-ab-dashboard-wrapper .mu-dashboard-heading-wrapper h2 {
    font-size: 22px !important;
  }
  .mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box {
    margin: 0 !important;
  }
  .mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-title h3 {
    font-size: 22px !important;
  }
  .mu-ab-result-wrapper {
    padding: 5% !important;
  }
  .mu-ab-result-wrapper .mu-ab-result-title-wrapper .mu-ab-result-title h2 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
  }
}

html {
  background-color: #faf9f7;
}

.html-homepage {
  background-color: #FFFFFF;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none !important;
  font-family: "Lato", sans-serif;
}

body,
p,
strong {
  font-family: "Lato", sans-serif;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

a.button,
a.button-yellow,
a.button-black,
a.button-action {
  text-decoration: none;
}

.title-with-icons {
  padding: 0em 0;
  overflow: hidden;
  position: relative;
}

.title-with-icons .mu-doodle-top {
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

.help-block {
  font-size: 16px !important;
}

.mu-body-wrapper {
  background-color: #faf9f7;
  height: auto;
  width: 100%;
}

.mu-button {
  padding: 17px 34px;
  display: inline-block;
  border: 2.5px solid #000000;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.36px;
  -webkit-border-radius: 116px;
  -moz-border-radius: 116px;
  border-radius: 116px;
  color: #000000;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.mu-button:hover,
a.mu-button:focus {
  color: #f7f7f7;
}

.mu-container {
  max-width: 960px;
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.index-hero .mu-button,
.services-hero .mu-button {
  margin-top: 25px;
}

.mu-button:hover,
.mu-button:focus {
  background-color: #000000;
  color: #ffffff;
}

.mu-float-left {
  float: left;
}

.mu-float-right {
  float: right;
}

.mu-uppercase {
  text-transform: uppercase;
}

.help-block {
  padding-top: 10px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #848484;
}

.mu-ab-dashboard-wrapper {
  padding: 5%;
}

.mu-ab-dashboard-wrapper .mu-dashboard-search-wrapper {
  margin-bottom: 100px;
}

.mu-ab-dashboard-wrapper .mu-dashboard-search-wrapper .mu-dashboard-search-content .mu-input {
  border-bottom: 1px solid #D8D8D8 !important;
  background-color: transparent !important;
  border: none;
  border-radius: 0px;
  border-color: none !important;
  box-shadow: none !important;
}

.mu-ab-dashboard-wrapper .mu-dashboard-heading-wrapper {
  margin-bottom: 30px;
}

.mu-ab-dashboard-wrapper .mu-dashboard-heading-wrapper .mu-feather-icon {
  float: right;
  padding-top: 10px;
}

.mu-ab-dashboard-wrapper .mu-dashboard-heading-wrapper h2 {
  font-size: 26px;
  font-weight: 700;
  color: #212121;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: white;
  vertical-align: top;
  text-align: left;
  height: 260px;
  margin: 20px 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  white-space: normal;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  color: #4B4F56;
  padding: 30px;
  border-radius: 5px;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
  transition-delay: 0s !important;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-ispublished {
  padding: 0px 4px 4px 4px;
  background-color: #E8F5E9;
  width: 90px;
  height: auto;
  border-radius: 100px;
  margin-bottom: 20px;
  text-align: center !important;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-ispublished span {
  color: #50B054;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-notpublished {
  padding: 0px 4px 4px 4px;
  background-color: #FCE4EC;
  width: 115px;
  height: auto;
  border-radius: 100px;
  margin-bottom: 20px;
  text-align: center !important;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-notpublished span {
  color: #F7397D;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-title {
  text-align: left;
  margin-bottom: 15px;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-title h3 {
  color: #212121;
  font-size: 24px;
  font-weight: bold;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-title a {
  text-decoration: none;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-date {
  text-align: left;
  margin-bottom: 20px;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content .mu-ab-card-date p {
  color: #AEAEAE;
  font-size: 16px;
}

.mu-ab-dashboard-wrapper .mu-ab-card-wrapper .mu-ab-card-item-box .mu-ab-card-content svg {
  color: #A4A4A4;
}

.mu-ab-dashboard-wrapper .mu-pagination-wrapper {
  margin-top: 10%;
}

.mu-ab-result-wrapper {
  padding: 5% 0;
}

.mu-ab-result-wrapper .mu-backlink {
  margin-bottom: 100px;
}

.mu-ab-result-wrapper .mu-ab-result-title-wrapper .mu-ab-result-title h2 {
  font-size: 28px;
  margin-bottom: 50px;
  font-weight: 700 !important;
}

.mu-ab-result-wrapper .mu-ab-result-title-wrapper .mu-ab-result-title p {
  color: #747d8c;
  padding-bottom: 15px;
}

.mu-ab-result-wrapper .mu-ab-cards-result-container .mu-ab-stats-card {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: white;
  vertical-align: top;
  text-align: left;
  height: auto;
  margin: 20px 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  white-space: normal;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  color: #4B4F56;
  padding: 30px;
  border-radius: 3px;
}

.mu-ab-result-wrapper .mu-ab-cards-result-container .mu-ab-stats-card:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
  transition-delay: 0s !important;
}

.mu-ab-result-wrapper .mu-ab-cards-result-container .mu-ab-stats-card hr {
  border: 1px solid #f4f4f4;
  margin-bottom: 20px;
}

.mu-ab-result-wrapper .mu-ab-cards-result-container .mu-ab-stats-card h3 {
  font-style: "Lato", sans-serif !important;
  font-size: 22px;
  text-align: center;
}

.mu-ab-result-wrapper .mu-ab-cards-result-container .mu-ab-stats-card .mu-stats-item {
  margin-left: 10px;
}

.mu-ab-result-wrapper .mu-chart-wrapper {
  background-color: #FFFFFF;
  padding: 40px 0;
  width: 100%;
  height: auto;
  margin: 70px 0;
}

.mu-ab-result-wrapper .mu-chart-wrapper .mu-chartjs {
  padding: 20px 0;
}

.mu-ab-result-wrapper .mu-comment-wrapper .mu-ab-tester-comment-card {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: white;
  vertical-align: top;
  text-align: left;
  height: 500px;
  margin: 20px 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  white-space: normal;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  color: #4B4F56;
  padding: 20px 30px;
  border-radius: 5px;
}

.mu-ab-result-wrapper .mu-comment-wrapper .mu-ab-tester-comment-card:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
  transition-delay: 0s !important;
}

.mu-ab-result-wrapper .mu-comment-wrapper .mu-ab-tester-comment-card .mu-ab-tester-result-single img {
  border-radius: 100px;
  margin-bottom: 15px;
}

.mu-ab-result-wrapper .mu-comment-wrapper .mu-ab-tester-comment-card .mu-ab-tester-result-single hr {
  border: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.mu-ab-result-wrapper .mu-comment-wrapper .mu-ab-tester-comment-card .mu-ab-tester-result-single h5 {
  text-transform: capitalize;
  font-size: 22px;
}

.mu-ab-result-wrapper .mu-comment-wrapper .mu-ab-tester-comment-card .mu-ab-tester-result-single p {
  font-size: 14px;
  line-height: 24px;
}

.mu-ab-result-wrapper .mu-comment-wrapper .mu-ab-tester-comment-card .mu-ab-tester-result-single .mu-coment-email {
  font-size: 12px;
  line-height: 24px;
  color: #9e9e9e;
}

.mu-ab-result-wrapper .mu-comment-wrapper .mu-ab-tester-comment-card .mu-ab-tester-result-single .comment-a-or-b {
  padding: 20px 0;
}

.mu-ab-result-wrapper .mu-comment-wrapper .mu-ab-tester-comment-card .mu-ab-tester-result-single .mu-comment-label {
  text-transform: uppercase;
  color: #9e9e9e;
  padding-bottom: 10px;
}

.mu-content-auth {
  background-color: #faf9f7;
  width: 100%;
  height: auto;
}

.mu-content-auth .mu-auth-wrapper {
  height: 100vh;
}

.mu-content-auth .mu-auth-wrapper .loggedOutBackgroundContainer {
  overflow: hidden;
}

.mu-content-auth .mu-auth-wrapper .loggedOutBackgroundContainer .slidingBackground {
  background: url("../img/dots.png") repeat-x;
  background-size: auto;
  background-size: contain;
  height: 223px;
  width: 9141px;
  animation: slide 600s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-3047px, 0, 0);
    /* The image width */
  }
}

.mu-content-auth .mu-auth-wrapper .mu-auth-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  margin-top: 15%;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-center .mamikos-logo-auth {
  width: 15%;
  padding-bottom: 50px;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box {
  background-color: #FFFFFF;
  width: 560px;
  height: auto;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box .login-blocks {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  padding: 18px 18px 18px 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(36, 49, 63, 0.11);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box .w-inline-block {
  width: 500px;
  max-width: 100%;
  display: inline-flex !important;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 50px;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box a {
  -webkit-transition: opacity 240ms ease, background-color 240ms ease, box-shadow 240ms ease, border-color 240ms ease, color 240ms ease, padding 240ms ease, -webkit-transform 240ms ease, -webkit-filter 240ms ease, -webkit-box-flex 240ms ease, -webkit-flex 240ms ease;
  transition: opacity 240ms ease, background-color 240ms ease, box-shadow 240ms ease, border-color 240ms ease, color 240ms ease, padding 240ms ease, -webkit-transform 240ms ease, -webkit-filter 240ms ease, -webkit-box-flex 240ms ease, -webkit-flex 240ms ease;
  transition: opacity 240ms ease, transform 240ms ease, filter 240ms ease, flex 240ms ease, background-color 240ms ease, box-shadow 240ms ease, border-color 240ms ease, color 240ms ease, padding 240ms ease;
  transition: opacity 240ms ease, transform 240ms ease, filter 240ms ease, flex 240ms ease, background-color 240ms ease, box-shadow 240ms ease, border-color 240ms ease, color 240ms ease, padding 240ms ease, -webkit-transform 240ms ease, -webkit-filter 240ms ease, -webkit-box-flex 240ms ease, -webkit-flex 240ms ease, -ms-flex 240ms ease;
  color: #ffbf03;
  text-decoration: none;
  cursor: pointer;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box .login-blocks:hover {
  border-color: #ea4335;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box a:hover {
  color: #615775;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box a:hover .account-arrow {
  transform-style: preserve-3d;
  transition: transform 300ms ease 0s;
  transform: translateX(6px) translateY(0px) translateZ(0px);
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box a:active,
.mu-content-auth .mu-auth-wrapper .mu-auth-box a:hover {
  outline: 0;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-icon {
  width: 40px;
  margin-right: 15px;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-heading {
  margin-bottom: 0px;
  color: #24313f;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 500;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-text {
  color: rgba(36, 49, 63, 0.6);
  font-size: 1.05em;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box .login-card-text span {
  color: #000000;
}

.mu-content-auth .mu-auth-wrapper .mu-auth-box .account-arrow {
  position: absolute;
  top: 32px;
  right: 25px;
  bottom: 0px;
  display: block;
  width: 20px;
  transform-style: preserve-3d;
  transition: transform 200ms ease 0s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
}

.mu-ab-test-wrapper {
  padding: 10% 0;
}

.mu-ab-test-wrapper .mu-ab-test-screenshot {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: white;
  vertical-align: top;
  text-align: center;
  height: 700px;
  margin: 20px 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  white-space: normal;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  color: #4B4F56;
  padding: 20px 30px;
  border-radius: 5px;
}

.mu-ab-test-wrapper .mu-ab-test-screenshot:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
  transition-delay: 0s !important;
}

.mu-ab-test-wrapper .mu-ab-test-forms {
  background-color: #FFFFFF;
  padding: 50px 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
}

.mu-ab-test-wrapper .mu-ab-test-forms hr {
  border: 1px solid #f4f4f4;
  margin-bottom: 30px;
}

.mu-ab-test-wrapper .mu-ab-test-forms .captcha {
  width: 200px;
}

.mu-ab-test-wrapper .mu-ab-test-forms .mu-error-forms {
  margin: 20px 0;
}

.mu-ab-test-wrapper .mu-ab-test-forms .mu-title {
  padding-bottom: 30px;
}

.mu-ab-test-wrapper .mu-ab-test-forms .mu-desc {
  padding: 20px 0;
  line-height: 30px;
}

.mu-ab-test-wrapper .mu-ab-test-forms .mu-forms .control-group {
  padding-bottom: 40px;
}

.mu-ab-test-wrapper .mu-ab-test-forms .mu-forms .control-group .asteriskField {
  color: #F42;
}

.mu-ab-test-wrapper .mu-ab-test-forms .mu-forms .control-group .controls {
  padding-top: 20px;
}

.mu-ab-test-wrapper .mu-ab-test-forms .mu-forms .control-group .controls #error_1_id_design_abtest_choice,
.mu-ab-test-wrapper .mu-ab-test-forms .mu-forms .control-group .controls #error_1_id_design_abtest_comment {
  display: none;
}

.mu-ab-test-wrapper .mu-ab-test-forms .mu-forms .control-group .controls #error_1_id_captcha strong {
  color: #F42 !important;
}

.mu-ab-test-wrapper .mu-ab {
  font-weight: bold;
  font-family: mu-font-tiempo;
  font-size: 42px;
  text-align: center;
}

.mu-hero-wrapper {
  padding: 8% 0 0 0;
  text-align: center !important;
}

.mu-hero-wrapper .mu-hero-homepage-container h1 {
  font-family: Tiempo, Arial, Helvetica, sans-serif;
  padding: 0 0 30px 0;
  font-size: 38px;
  color: #000000;
  font-weight: 600;
}

.mu-hero-wrapper .mu-hero-homepage-container p {
  font-size: 22px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  display: inline-flex;
  line-height: 42px;
  color: #848484;
}

.mu-hero-wrapper .mu-hero-homepage-container .mu-hero-cta {
  margin: 50px 0 0 0;
  text-align: center;
}

.mu-hero-image img {
  width: 100%;
  height: auto;
}

.mu-thanks-wrapper {
  text-align: center;
}

.mu-thanks-wrapper .mu-thanks-container {
  padding: 10% 0;
}

.mu-thanks-wrapper .mu-thanks-container h1 {
  font-family: Tiempo, Arial, Helvetica, sans-serif;
  font-size: 48px;
  padding-bottom: 30px;
  font-weight: 400;
  color: #000000;
}

.mu-thanks-wrapper .mu-thanks-container p {
  font-size: 18px;
}

.mu-thanks-wrapper .mu-thanks-container .mu-thanks-image {
  padding: 100px 0;
}
