// COLORS

$mu-color-white: #FFFFFF;
$mu-color-black: #000000;
$mu-color-green: #1BAA56;
$mu-color-red: #e74c3c;
$mu-color-label-grey: #ACACAC;
$mu-color-green-light: #E8FFEC;
$mu-color-text-dark: #121212;
$mu-color-dasboard-bg: #faf9f7;
