// Poppins FONT

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Thin.ttf) format("truetype"), url(../fonts/Poppins-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: thin
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Light.ttf) format("truetype"), url(../fonts/Poppins-LightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: lighter
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype"), url(../fonts/Poppins-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf) format("truetype"), url(../fonts/Poppins-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: medium
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype"), url(../fonts/Poppins-SemiBoldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: semibold
}


@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf) format("truetype"), url(../fonts/Poppins-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: bold
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Black.ttf) format("truetype"), url(../fonts/Poppins-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: black
}


// TIEMPOS FONT

@font-face {
    font-family: Tiempo;
    src: url(../fonts/TiemposHeadline-Semibold.otf) format("opentype");
    font-weight: 600;
    font-style: semibold
}

@font-face {
    font-family: Tiempo;
    src: url(../fonts/TiemposHeadline-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: bold
}

@font-face {
    font-family: Tiempo;
    src: url(../fonts/TiemposHeadline-Black.otf) format("opentype");
    font-weight: 900;
    font-style: black
}