// Lato FONT

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Thin.ttf) format("truetype"), url(../fonts/Lato-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: thin
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Light.ttf) format("truetype"), url(../fonts/Lato-LightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: lighter
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf) format("truetype"), url(../fonts/Lato-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Bold.ttf) format("truetype"), url(../fonts/Lato-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: bold
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Black.ttf) format("truetype"), url(../fonts/Lato-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: black
}


// TIEMPOS FONT

@font-face {
    font-family: Tiempo;
    src: url(../fonts/TiemposHeadline-Semibold.otf) format("opentype");
    font-weight: 600;
    font-style: semibold
}

@font-face {
    font-family: Tiempo;
    src: url(../fonts/TiemposHeadline-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: bold
}

@font-face {
    font-family: Tiempo;
    src: url(../fonts/TiemposHeadline-Black.otf) format("opentype");
    font-weight: 900;
    font-style: black
}