// ROBOTO FONT

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf) format("truetype"), url(../fonts/Roboto-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: thin
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf) format("truetype"), url(../fonts/Roboto-LightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: lighter
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf) format("truetype"), url(../fonts/Roboto-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf) format("truetype"), url(../fonts/Roboto-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: medium
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf) format("truetype"), url(../fonts/Roboto-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: bold
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf) format("truetype"), url(../fonts/Roboto-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: black
}


// TIEMPOS FONT

@font-face {
    font-family: Tiempo;
    src: url(../fonts/TiemposHeadline-Semibold.otf) format("opentype");
    font-weight: 600;
    font-style: semibold
}

@font-face {
    font-family: Tiempo;
    src: url(../fonts/TiemposHeadline-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: bold
}

@font-face {
    font-family: Tiempo;
    src: url(../fonts/TiemposHeadline-Black.otf) format("opentype");
    font-weight: 900;
    font-style: black
}
