// FOOTER

.footer {

    padding: 0 0 10px 0;
    background-color: transparent;
    padding-top: 20px;
    text-align: center;
    background-color: $mu-color-dasboard-bg;

    .mu-footer-wrapper {
        text-align: center;
    }
}