// GLOBAL

$mu-font-poppins: 'Poppins', 
sans-serif;
$mu-font-tiempo: Tiempo,
Arial,
Helvetica,
sans-serif;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none !important;
    font-family: $mu-font-poppins;
}

body,
p,
strong,
    {
    font-family: $mu-font-poppins;
}

h1,
h2,
h3,
h4,
h5 {
    // font-family: $mu-font-tiempo;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

a.button,
a.button-yellow,
a.button-black,
a.button-action {
    text-decoration: none;
}

.button,
.button-yellow,
a.button-yellow,
.button-black,
a.button-black,
.button-action,
a.button-action,
input[type="submit"],
a.button,
a.button-yellow,
a.button-black,
a.button-action {
    padding: 17px 34px;
    display: inline-block;
    border: 2.5px solid #000000;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.36px;
    -webkit-border-radius: 116px;
    -moz-border-radius: 116px;
    border-radius: 116px;
    color: #000000;
    background-color: #ffffff;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a.button:hover,
a.button-yellow:hover,
a.button-black:hover,
a.button-action:hover,
a.button:focus,
a.button-yellow:focus,
a.button-black:focus,
a.button-action:focus {
    color: #f7f7f7;
}

.index-hero .button,
.services-hero .button,
.index-hero .button-yellow,
.services-hero .button-yellow,
.index-hero .button-black,
.services-hero .button-black,
.index-hero .button-action,
.services-hero .button-action {
    margin-top: 25px;
}

.button:hover,
.button-yellow:hover,
.button-black:hover,
.button-action:hover,
.button:focus,
.button-yellow:focus,
.button-black:focus,
.button-action:focus {
    background-color: #000000;
    color: #ffffff;
}

.mu-float-left {
    float: left;
}

.mu-float-right {
    float: right;
}

.mu-uppercase {
    text-transform: uppercase;
}

// PADDING 10px
.mu-padding-top-10px {
    padding-top: 10px !important;
}

.mu-padding-right-10px {
    padding-right: 10px !important;
}

.mu-padding-bottom-10px {
    padding-bottom: 10px !important;
}

.mu-padding-left-10px {
    padding-left: 10px !important;
}


// PADDING 20px
.mu-padding-top-20px {
    padding-top: 20px !important;
}

.mu-padding-right-20px {
    padding-right: 20px !important;
}

.mu-padding-bottom-20px {
    padding-bottom: 20px !important;
}

.mu-padding-left-20px {
    padding-left: 20px !important;
}


// PADDING 30px
.mu-padding-top-30px {
    padding-top: 30px !important;
}

.mu-padding-right-30px {
    padding-right: 30px !important;
}

.mu-padding-bottom-30px {
    padding-bottom: 30px !important;
}

.mu-padding-left-30px {
    padding-left: 30px !important;
}

// MARGIN 30px
.mu-margin-top-30px {
    margin-top: 30px !important;
}

.mu-margin-right-30px {
    margin-right: 30px !important;
}

.mu-margin-bottom-30px {
    margin-bottom: 30px !important;
}

.mu-margin-left-30px {
    margin-left: 30px !important;
}