// GLOBAL

$mu-font-lato: 'Lato', 
sans-serif;
$mu-font-tiempo: Tiempo,
Arial,
Helvetica,
sans-serif;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none !important;
    font-family: $mu-font-lato;
}

body,
p,
strong,
    {
    font-family: $mu-font-lato;
}

h1,
h2,
h3,
h4,
h5 {
    // font-family: $mu-font-tiempo;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

a.button,
a.button-yellow,
a.button-black,
a.button-action {
    text-decoration: none;
}

.title-with-icons {
    padding: 0em 0;
    overflow: hidden;
    position: relative;

    .mu-doodle-top {
        opacity: 0.1;
        position: absolute;
        left: 50%;
        top: -20px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        pointer-events: none;
    }
}

.help-block {
    font-size: 16px !important;
}

.mu-body-wrapper {
    background-color: $mu-color-dasboard-bg;
    height: auto;
    width: 100%;
}

.mu-button {
    padding: 17px 34px;
    display: inline-block;
    border: 2.5px solid #000000;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.36px;
    -webkit-border-radius: 116px;
    -moz-border-radius: 116px;
    border-radius: 116px;
    color: #000000;
    background-color: transparent;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a.mu-button:hover,
a.mu-button:focus {
    color: #f7f7f7;
}

.mu-container {
    max-width: 960px;
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.index-hero .mu-button,
.services-hero .mu-button {
    margin-top: 25px;
}

.mu-button:hover,
.mu-button:focus {
    background-color: #000000;
    color: #ffffff;
}

.mu-float-left {
    float: left;
}

.mu-float-right {
    float: right;
}

.mu-uppercase {
    text-transform: uppercase;
}

.help-block {
    padding-top: 10px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #848484;
}