// MEDIA QUERIES

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    
    // GLOBAL
    .mu-container {
        max-width: 100% !important;
        width: 100% !important;
    }

    // AUTH 
    .mu-content-auth {

        .mu-auth-wrapper {

            .mu-auth-center {

                .mamikos-logo-auth {
                    width: 50% !important;
                    padding-bottom: 40px !important;
                }
    
            }

            .mu-auth-box {

                width: 100% !important;
                padding: 20px 30px !important;

                h3 {
                    font-size: 18px !important;
                    padding-bottom: 25px !important;
                }

                .account-arrow {
                    top: 24px !important;
                }

                .login-card-icon {

                    width: 30px !important;
                
                }

                .login-card-heading {

                    margin-bottom: 5px !important;
                    font-size: 16px !important;
                
                }

                .login-card-text {

                    font-size: 14px !important;
                
                }
            
            }

            .mu-auth-center {

                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                width: 100%;
                background-size: cover;
                margin-top: 15%;
                padding: 5% !important;
            
            }

        }
    
    }

    // STATIC
    .mu-thanks-wrapper {
        
        .mu-thanks-container h1 {

            font-size: 35px !important;
        
        }

    }

    // ABTEST DETAIL USER 
    .mu-ab-test-wrapper {

        padding: 3% !important;
    
    }

    // HOMEPAGE
    .mu-hero-wrapper {

        .mu-hero-homepage-container {

            h1 {
                font-size: 24px !important;
            }

            p {
                font-size: 18px !important;
                width: 278px !important;
                line-height: 31px !important;
            }

        }

        .footer {
            padding-top: 10px !important;
        }

    }

    .mu-footer-wrapper {

        p {
            font-size: 12px !important;
        }

    }

    .mu-button {
        padding: 10px 20px !important;
        font-size: 16px !important;
    }


    
    // DASHBOARD
    .mu-ab-dashboard-wrapper {

        .mu-dashboard-heading-wrapper {

            .mu-feather-icon {
                margin-bottom: 30px !important;
                float: left !important;
            }

            h2 {
                font-size: 22px !important;
            }

        }

        .mu-ab-card-wrapper {

            .mu-ab-card-item-box {

                margin: 0 !important;

                .mu-ab-card-content {

                    .mu-ab-card-title {

                        h3 {
                            font-size: 22px !important;
                        }

                    }

                }

            }

        }

    }

    // DETAIL TEST DASHBOARD
    .mu-ab-result-wrapper {

        padding: 5% !important;

        .mu-ab-result-title-wrapper {

            .mu-ab-result-title {

                h2 {

                    font-size: 24px !important;
                    margin-bottom: 20px !important;
                
                }

            }

        }
    
    }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

        // GLOBAL
        .mu-container {
            max-width: 100% !important;
            width: 100% !important;
        }
    
        // AUTH 
        .mu-content-auth {
    
            .mu-auth-wrapper {
    
                .mu-auth-center {
    
                    .mamikos-logo-auth {
                        width: 50% !important;
                        padding-bottom: 40px !important;
                    }
        
                }
    
                .mu-auth-box {
    
                    width: 100% !important;
                    padding: 20px 30px !important;
    
                    h3 {
                        font-size: 18px !important;
                        padding-bottom: 25px !important;
                    }
    
                    .account-arrow {
                        top: 24px !important;
                    }
    
                    .login-card-icon {
    
                        width: 30px !important;
                    
                    }
    
                    .login-card-heading {
    
                        margin-bottom: 5px !important;
                        font-size: 16px !important;
                    
                    }
    
                    .login-card-text {
    
                        font-size: 14px !important;
                    
                    }
                
                }
    
                .mu-auth-center {
    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    margin-top: 15%;
                    padding: 5% !important;
                
                }
    
            }
        
        }
    
        // STATIC
        .mu-thanks-wrapper {
            
            .mu-thanks-container h1 {
    
                font-size: 35px !important;
            
            }
    
        }
    
        // ABTEST DETAIL USER 
        .mu-ab-test-wrapper {
    
            padding: 3% !important;
        
        }
    
        // HOMEPAGE
        .mu-hero-wrapper {
    
            .mu-hero-homepage-container {
    
                h1 {
                    font-size: 24px !important;
                }
    
                p {
                    font-size: 18px !important;
                    width: 278px !important;
                    line-height: 31px !important;
                }
    
            }
    
            .footer {
                padding-top: 10px !important;
            }
    
        }
    
        .mu-footer-wrapper {
    
            p {
                font-size: 12px !important;
            }
    
        }
    
        .mu-button {
            padding: 10px 20px !important;
            font-size: 16px !important;
        }
    
    
        
        // DASHBOARD
        .mu-ab-dashboard-wrapper {
    
            .mu-dashboard-heading-wrapper {
    
                .mu-feather-icon {
                    margin-bottom: 30px !important;
                    float: left !important;
                }
    
                h2 {
                    font-size: 22px !important;
                }
    
            }
    
            .mu-ab-card-wrapper {
    
                .mu-ab-card-item-box {
    
                    margin: 0 !important;
    
                    .mu-ab-card-content {
    
                        .mu-ab-card-title {
    
                            h3 {
                                font-size: 22px !important;
                            }
    
                        }
    
                    }
    
                }
    
            }
    
        }
    
        // DETAIL TEST DASHBOARD
        .mu-ab-result-wrapper {
    
            padding: 5% !important;
    
            .mu-ab-result-title-wrapper {
    
                .mu-ab-result-title {
    
                    h2 {
    
                        font-size: 24px !important;
                        margin-bottom: 20px !important;
                    
                    }
    
                }
    
            }
        
        }

}