// A/B TEST DASHBOARD

.mu-ab-dashboard-wrapper {

    padding: 5%;

    .mu-dashboard-search-wrapper {

        margin-bottom: 100px;

        .mu-dashboard-search-content {
            
            .mu-input {
                border-bottom: 1px solid #D8D8D8 !important;
                background-color: transparent !important;
                border: none;
                border-radius: 0px;
                border-color: none !important;
                box-shadow: none !important;
            }

        }

    }

    .mu-dashboard-heading-wrapper {
        margin-bottom: 30px;

        .mu-feather-icon {
            float: right;
            padding-top: 10px;
        }
        
        h2 {
            font-size: 26px;
            font-weight: 700;
            color: #212121;
        }
    }

    .mu-ab-card-wrapper {

        .mu-ab-card-item-box {
            display: inline-block;
            position: relative;
            width: 100%;
            background-color: white;
            vertical-align: top;
            text-align: left;
            height: 260px;
            margin: 20px 0;
            box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
            white-space: normal;
            -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            color: #4B4F56;
            padding: 30px;
            border-radius: 5px;

            &:hover {
                box-shadow: 0 40px 40px rgba(0, 0, 0, .16);
                transform: translate(0, -20px);
                transition-delay: 0s !important;
            }

            .mu-ab-card-content {

                .mu-ab-card-ispublished {
                    padding: 0px 4px 4px 4px;
                    background-color: #E8F5E9;
                    width: 90px;
                    height: auto;
                    border-radius: 100px;
                    margin-bottom: 20px;
                    text-align: center !important;

                    span {
                        color: #50B054;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 11px;
                    }
                }


                .mu-ab-card-notpublished {
                    padding: 0px 4px 4px 4px;
                    background-color: #FCE4EC;
                    width: 115px;
                    height: auto;
                    border-radius: 100px;
                    margin-bottom: 20px;
                    text-align: center !important;

                    span {
                        color: #F7397D;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 11px;
                    }
                }

                .mu-ab-card-title {
                    text-align: left;
                    margin-bottom: 15px;

                    h3 {
                        color: #212121;
                        font-size: 24px;
                        font-weight: bold;
                    }

                    a {
                        text-decoration: none;
                    }

                }

                .mu-ab-card-date {

                  text-align: left;
                  margin-bottom: 20px;

                  p{
                    color: #AEAEAE;
                    font-size: 16px;
                  }
                }

                svg {
                    color: #A4A4A4;
                }
            }

        }

    }

    .mu-pagination-wrapper {
        margin-top: 10%;
    }

    // .mu-screenshot-rounded {
    //     width: 50px;
    //     height: 50px;
    //     border-radius: 100%;
    // }
}
