// A/B TEST DETAIL

.mu-ab-result-wrapper {

    margin-left: 270px;
    /* Same as the width of the mu-sidebar */
    padding: 70px;

    .mu-ab-result-title-wrapper {

        .mu-ab-result-title {
            h2 {
                font-style: $mu-font-tiempo !important;
                font-size: 28px;
                margin-bottom: 50px;
            }

            p {
                color: #747d8c;
            }
        }
    }

    .mu-ab-cards-result-container {

        .mu-ab-stats-card {
            display: inline-block;
            position: relative;
            width: 100%;
            background-color: white;
            vertical-align: top;
            text-align: left;
            height: auto;
            margin: 20px 0;
            box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
            white-space: normal;
            -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            color: #4B4F56;
            padding: 30px;

            &:hover {
                box-shadow: 0 40px 40px rgba(0, 0, 0, .16);
                transform: translate(0, -20px);
                transition-delay: 0s !important;
            }
            
            hr {
                border: 1px solid #f4f4f4;
                margin-bottom: 20px;
            }

            h3 {
                font-style: $mu-font-poppins !important;
                font-size: 22px;
                text-align: center;
            }

            .mu-stats-item {
                margin-left: 10px;
            }
        }

    }

    .mu-chart-wrapper {
        background-color: $mu-color-white;
        padding: 30px;
        width: 100%;
        height: auto;
        margin: 70px 0;
    }

    .mu-comment-wrapper {
        .mu-ab-tester-comment-card {
            display: inline-block;
            position: relative;
            width: 100%;
            background-color: white;
            vertical-align: top;
            text-align: left;
            height: 500px;
            margin: 20px 0;
            box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
            white-space: normal;
            -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            color: #4B4F56;
            padding: 20px 30px;

            &:hover {
                box-shadow: 0 40px 40px rgba(0, 0, 0, .16);
                transform: translate(0, -20px);
                transition-delay: 0s !important;
            }

            .mu-ab-tester-result-single {
                img {
                    border-radius: 100px;
                    margin-bottom: 15px;
                }

                hr {
                    border: 1px solid #f4f4f4;
                    margin-bottom: 10px;
                }

                ul {
                    padding-right: 0px;
                    margin-left: 0px;
                }

                li {
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 24px;
                    color: #9e9e9e;
                }


                p {
                    font-size: 14px;
                    line-height: 24px;
                }

                .mu-padding-li {
                    padding-right: 30px;
                }

                .comment-a-or-b {
                    padding: 10px 0;
                }

                .mu-comment-label {
                    text-transform: uppercase;
                    color: #9e9e9e;
                }
            }
        }
    }

}