.mu-ab-dashboard-wrapper {

    .mu-ab-dashboard-container {

        padding-top: 100px;
        padding-bottom: 50px;

        .mu-mami-pixelated {
            width: 30%;
            height: auto;
        }

    }

}
