// A/B TEST DASHBOARD

.mu-body-wrapper {
    background-color: $mu-color-dasboard-bg;
    height: auto;
    width: 100%;
}

.mu-ab-dashboard-wrapper {

    margin-left: 270px;
    /* Same as the width of the mu-sidebar */
    padding: 0px 30px;

    .table.table-hover tbody tr:hover {

        background: $mu-color-green-light !important;

        a {
            color: $mu-color-green;
        }
    }

    table {
        background-color: $mu-color-white;
        width: 100%;
        height: auto;
        border-radius: 5px;

        th,
        td {
            padding: 20px;
            text-align: left;
        }

        thead {
            font-size: 16px;
        }

        a {
            color: $mu-color-text-dark;
        }
    }

    .mu-feather-icon-check {
        color: $mu-color-green;
    }

    .mu-feather-icon-cancel {
        color: $mu-color-red;
    }

    .mu-new-button {
        margin: 30px 0;
    }

    .mu-screenshot-rounded {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .mu-dashboard-heading-wrapper {
        h2 {

            span {
                font-family: $mu-font-tiempo;
                font-size: 24px;
                padding-top: 8px;
            }
        }

        margin: 70px 0 30px 0;
    }
}