{% extends "app_abtest/main/abtest_base_auth.html" %}
{% load i18n %}
{% load socialaccount %}
{% load staticfiles %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="mu-auth-wrapper">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="mu-auth-center">
                    <img src="{% static "img/mamikos_logo.svg" %}" class="mamikos-logo-auth">
                    <div class="mu-auth-box">
                        <h3>We're so happy you're here! 👋</h3>
                        <a href="{% provider_login_url "google" %}" class="login-blocks w-inline-block" data-ix="account-card">
                            <div>
                                <img src="{% static "img/GoogleLogo.svg" %}" class="login-card-icon">
                            </div>
                            <div>
                                <div class="login-card-heading">
                                    Login with Google
                                </div>
                                <div class="login-card-text">
                                    Please login before continue
                                </div>
                            </div>
                            <img src="{% static "img/RightArrow.svg" %}" class="account-arrow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loggedOutBackgroundContainer" style="position: fixed; bottom: 0px;">
        <div class="slidingBackground">
        </div>
    </div>
</div>
{% endblock %}