{% extends "app_abtest/main/abtest_base.html" %}
{% load i18n %}
{% load socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="mu-auth-wrapper">
        <div class="container-narrow-2">
            <div class="columns">
                <div class="column">
                    <div class="mu-auth-box">
                        <p class="control" style="text-align: center;">
                                <form class="login" method="POST" action="{% url 'account_login' %}">
                                  {% csrf_token %}
                                  {{ form.as_p }}
                                  {% if redirect_field_value %}
                                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                  {% endif %}
                                  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                                </form>
                            <a class="button is-large is-dark" href="{% provider_login_url "google" %}">
                                <span class="icon">
                                    <span class="typcn typcn-social-github"></span>
                                </span>
                                <span>Login with Google</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
