// STATIC HOMEPAGE

.mu-hero-wrapper {

    padding: 8% 0 0 0;
    text-align: center !important;

    .mu-hero-homepage-container {
        h1 {
            font-family: $mu-font-tiempo;
            padding: 0 0 30px 0;
            font-size: 38px;
            color: $mu-color-black;
            font-weight: 600;
        }

        p {
            font-size: 22px;
            font-weight: 200;
            display: flex;
            flex-direction: column;
            width: 500px;
            align-items: center;
            display: inline-flex;
            line-height: 42px;
            color: #848484;
        }

        .mu-hero-cta {
            margin: 50px 0 0 0;
            text-align: center
        }

    }

}

.mu-hero-image {

    img {
        width: 100%;
        height: auto;
    }
}