// 404 PAGE

.mu-404-wrapper {
    
    text-align: center;

    .mu-404-container {

        padding: 10% 0;

        h1 {
            font-family: $mu-font-tiempo;
            font-size: 48px;
            padding-bottom:30px;
            font-weight: 400;
            color: $mu-color-black;
        }

        p {
            font-size: 18px;
        }

        .mu-404-image {
            padding: 100px 0;

            img {
                width: 300px;
            }
        }

    }

}