{% extends "app_abtest/main/abtest_base.html" %}
{% block title %}404 - Page Not Found - MamiUX{% endblock %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<!-- HERO -->
<section id="404 Hero">
    <!-- <meta http-equiv="refresh" content="5; url=https://mamikos.com/" /> -->
    <div class="mu-404-wrapper">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <div class="mu-404-container">
                        <h1>404</h1>
                        <p>Upss... This content does not exist</p>
                        <div class="mu-404-image">
                            <img src="{% static "img/404.svg" %}">
                        </div>
                        <div style="margin-top: 30px;">
                            <a href="http://www.mamiux.xyz">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="12"
                                    height="12"
                                    viewbox="0 0 12 12">
                                    <title>arrow-left</title>
                                    <g stroke-width="1" fill="#000000" stroke="#000000">
                                        <line
                                            x1="0.5"
                                            y1="6"
                                            x2="11.5"
                                            y2="6"
                                            fill="none"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            data-color="color-2"></line>
                                        <polyline
                                            points="4.5 10 0.5 6 4.5 2"
                                            fill="none"
                                            stroke="#000000"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"></polyline>
                                    </g>
                                </svg>
                                Back to Homepage
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}