{% extends "app_abtest/main/abtest_base_static.html" %}
{% block title %}Welcome to MamiUX{% endblock %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<!-- HERO -->
<section id="Homepage-Hero">
    <div class="mu-hero-wrapper">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <div class="mu-hero-homepage-container">
                        <h1>A set of tools from Mamikos UX Team</h1>
                        <p>We help people find their home and unleash social impact trhough technology and design.</p>
                        <div class="mu-hero-cta">
                            <a href="" class="mu-button">Login Staff</a>
                        </div>
                        <div class="mu-hero-image">
                            <img src="{% static "img/dashboard.png" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}