{% extends "app_abtest/main/abtest_base.html" %}
{% block title %}A/B Testing Dashboard - MamiUX{% endblock %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<!--Include Sidebar-->
{% include "app_abtest/partials/_sidebar.html" %}
<!--EOC-->

<!--Include Navbar-->
{% include "app_abtest/partials/_navbar.html" %}
<!--EOC-->

<!-- A/B TEST DASHBOARD LIST -->

<div class="mu-ab-dashboard-wrapper">
    <section id="Heading & Button">
        <div class="mu-dashboard-heading-wrapper">
            <div class="columns">
                <div class="column is-12">
                    <h2><span class="">🍌</span> <span style="padding-left: 10px;">A/B Testings Dashboard</span></h2>
                </div>
            </div>
        </div>
    </section>
    <section id="Table Result">
        
            <div class="columns">
                <div class="column is-12">
                    <table class="table is-hoverable">
                        <thead>
                            <tr>
                                <th>SCREENSHOTS</th>
                                <th>A/B TEST TITLE</th>
                                <th>DATE CREATED</th>
                                <th>PUBLISHED</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for abtest in abtest_list_dashboard %}
                            <a href="{% url 'abtest:abtest_results' pk=abtest.pk %}">
                                <tr>
                                    <td>
                                        <a href="{% url 'abtest:abtest_results' pk=abtest.pk %}">
                                            <div class="mu-screenshot-rounded" style="background: url('{{ request.META.HTTP_NAME }}/media/{{ abtest.design_image_a }}') no-repeat center center; background-size: cover;">
                                                <!-- -->
                                            </div>
                                        </a>
                                    </td>
                                    <td><a href="{% url 'abtest:abtest_results' pk=abtest.pk %}">{{ abtest.design_title }}</a></td>
                                    <td>{{ abtest.is_created|naturalday }}</td>
                                    <td>
                                        {% if abtest.is_published %}
                                        ✔️
                                        {% else %}
                                        ❌
                                        {% endif %}
                                    </td>
                                </tr>
                            </a>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
       
    </section>
</div>
<!-- EOL -->
{% endblock %}