{% load staticfiles %}
<footer class="footer">
    <div class="container">
        <div class="content mu-footer-wrapper">
            <div class="container">
                <div class="row center-xs">
                    <div class="col-xs-12">
                        <p>
                            <strong><i class="nes-icon is-small heart"></i> &copy; 2019 | With ❤️ and ☕ MamiUX</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>