{% load staticfiles %}

<!-- SEO -->
<meta charset="UTF-8">
<meta name="description" content="Mamikos UX Tool">
<meta name="keywords" content="mamikos, ux, ux tool, user experience, mamiux, user experience tool">
<meta name="author" content="Alzea Arafat">
<!--EOC-->

<!-- INCLUDE ALL STYLES -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/nes.css@latest/css/nes.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<!-- EOC -->

<!-- FAVICON -->
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
<!-- EOL -->

<!-- TELL BROWSER, THIS SITE IS MOBILE READY -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- EOC -->

