<div class="mu-navbar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="nes-container is-rounded">
                    <div class="mu-navbar">
                        <ul style="padding-left: 0px;">
                            <li class="nes-text is-primary"><a href="">Homepage</a></li>
                            <li class="nes-text is-primary"><a href="">A/B Testings</a></li>
                            <li class="nes-text is-error mu-float-right"><a href="">Logout</a></li>
                        </ul>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>