<div class="mu-navbar-wrapper">
    <div class="mu-navbar-panel">
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-12">
                    <header class="navbar">
                        <section class="navbar-section">
                            <a href="..." class="navbar-brand mr-2">Spectre.css</a>
                            <a href="..." class="btn btn-link">Docs</a>
                            <a href="..." class="btn btn-link">GitHub</a>
                        </section>
                        <section class="navbar-section">
                            <div class="mu-admin-avatar">
                                Hello, {{ user.get_username }}
                            </div>
                        </section>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>