{% load staticfiles %}
<div class="mu-sidebar">
    <div class="mu-sidebar-logo">
        Logo Mamikos
    </div>
    <div class="mu-sidebar-menu-panel">
        <div class="mu-sidebar-menu-label">
            MENU
        </div>
        <div class="mu-sidebar-menu-item">
            <a href="/abtest/dashboard/">
                <i data-feather="image" class="mu-feather-icon"></i>
                <span class="mu-menu-text">A/B Testing</span>
            </a>
        </div>
        <div class="mu-sidebar-menu-item">
            <a href="#">
                <i data-feather="user-check" class="mu-feather-icon"></i>
                <span class="mu-menu-text">Usability Testing</span>
            </a>
        </div>
        <div class="mu-sidebar-menu-item">
            <a href="#">
                <i data-feather="smile" class="mu-feather-icon"></i>
                <span class="mu-menu-text">User Persona</span>
            </a>
        </div>
        <div class="mu-sidebar-menu-item">
            <a href="#">
                <i data-feather="clipboard" class="mu-feather-icon"></i>
                <span class="mu-menu-text">Design Surveys</span>
            </a>
        </div>
        <div class="m`  u-sidebar-menu-item">
            <a href="#">
                <i data-feather="server" class="mu-feather-icon"></i>
                <span class="mu-menu-text">Assets Sharing</span>
            </a>
        </div>
    </div>
</div>